version: "3.9"

services:
  api:
    build: .
    ports:
      - "5000:8080"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - ConnectionStrings__EventServiceDbContext=Host=postgres;Port=5432;Database=EventService;Username=postgres;Password=${POSTGRES_PASSWORD}
      - S3Storage__AccessKey=${MINIO_ACCESS_KEY}
      - S3Storage__SecretKey=${MINIO_SECRET_KEY}
      - S3Storage__ServiceUrl=https://localhost:9000
      - Jwt__PublicKey=${JWT_PUBLIC_KEY}
      - IncludeDocumentationInRelease=true

  postgres:
    container_name: ngkafisha_event_db
    image: postgres:latest
    environment:
      POSTGRES_DB: "EventService"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 2s
      timeout: 2s
      retries: 10

volumes:
  postgres-data:
  minio-data:
