version: "3.9"

services:
  api:
    build: .
    ports:
      - "5000:8080"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
      
    environment:
      - ConnectionStrings__IdentityServiceDbContext=Host=postgres;Port=5432;Database=IdentityService;Username=postgres;Password=${POSTGRES_PASSWORD}
      - Jwt__PrivateKey=${JWT_PRIVATE_KEY}
      - Jwt__PublicKey=${JWT_PUBLIC_KEY}
      - AdminCred__Email=${ADMIN_EMAIL}
      - AdminCred__Password=${ADMIN_PASSWORD}
      - IncludeDocumentationInRelease=true

  postgres:
    container_name: ngkafisha_identity_db
    image: postgres:latest
    environment:
      POSTGRES_DB: "IdentityService"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 2s
      timeout: 2s
      retries: 10

volumes:
  postgres-data:
